<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div align="center">
    <h2>自定义登录页面</h2>
    <div style="color: red" th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></div>
    <form th:action="@{/login}" method="post">
        <label>
            <span>用户名：</span>
            <input type="text" name="username">
            <!--<input type="text" name="uname">-->
        </label>
        <br/>
        <label>
            <span>密码：</span>
            <input type="password" name="password">
            <!--<input type="password" name="psd">-->
        </label> <br/>
        <input type="submit" class="submit input_button"  value="登录">
    </form>
    <form th:action="@{/login/qq}" method="post">
        <button type="submit">QQ登录</button>
    </form>
    <form th:action="@{/login/weixin}" method="post">
        <button type="submit">微信登录</button>
    </form>
</div>

</body>
</html>